body {
    background: #b9eede;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

div.company-name{
    display: inline;
    padding-left: 1%;
    font-style: italic;
    font-family: fantasy;
    font-weight: 100;
    font-size: 33px;
    color: wheat;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.header {
    background: #353cf3;
    height: 100px;
    line-height: 100px;
}

a, a:link, a:visited {
    text-decoration: none;
}

.header-logo img {
    cursor: pointer;
    max-height: 100px;
}

.header-logo {
    float:  left;
    line-height:  normal;
}

nav {
    float: right;
}

.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu-item {
    float: left;
    padding: 0 20px;
    text-transform: uppercase;
    font: 600 20px/100px 'Tahoma', sans-serif;

}

.header-menu-item a {
    display: block;
    color: #fff;
}

.header-menu-item a:hover {
    font-size: larger;
    font-weight: bolder;
    -webkit-transition: font-size 0.6s ease;
    -moz-transition: font-size 0.6s ease;
    -o-transition: font-size 0.6s ease;
    transition: font-size 0.6s ease;
}

div.content{
    padding: 50px 100px 20px 200px;
}
